.namefont{
    font-family: 'Great Vibes', cursive;
}

.splashfont{
    font-family: "Pacifico", cursive;
}

.headerfont{
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Poppins', cursive;
    font-weight: bold;
}

.btn-color{
    background: linear-gradient(to bottom, #6366f1, #4f46e5);
    color: white;
}

.btn-border{
    border: 1px solid #64748b;
}


/* bg-gradient-to-r from-[#00aaff] to-[#ff7a59] */